modules = ["nodejs-20", "web"]
run = "bun run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun run dev"]

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 4173
externalPort = 8080
exposeLocalhost = true
