modules = ["nodejs-20", "web"]
run = "bun run build && bun run serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun run dev"]

[[ports]]
localPort = 4173
externalPort = 80
exposeLocalhost = true
